{% extends "_layouts/base.html" %}

{% block title %}Smart - Deletar Orçamento{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Exclusão de Cliente</h5>
        <p class="card-text">
          Você tem certeza que quer excluir o Orçamento feito para o cliente
          <b>{{ orcamento.cliente }}</b>?
        </p>
        <form method="post">
          {% csrf_token %}
        <hr />
          <div class="text-right">
            <a href="{% url 'website:lista_orcamento' %}" class="btn btn-outline-danger">
              Cancelar
            </a>
            <button class="btn btn-danger">Excluir</button>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}