{% extends "_layouts/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Smart - Orçamento{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b>Gerar Orçamento</b></h5><hr \>
            <p class="card-text">
            </p>
            <form method="post">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{ form.cliente|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                  {{ form.fornecedor|as_crispy_field }}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                  {{ form.servico|as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                  {{ form.produto|as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                  {{ form.preco|as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                  {{ form.metro|as_crispy_field }}
                </div>
              </div>
              <div class="text-right">
                <a href="{% url 'website:lista_orcamento' %}" 
                class="btn btn-outline-primary">Voltar</a>
                <button class="btn btn-primary">Enviar</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}